
if OBJECT_ID('yso_TabInl') is not null
begin
	drop table [yso_TabInl]
end

select TOP 0 * into yso_TabInl from TabInl
alter table yso_TabInl alter column Numar_tabela int not null
CREATE UNIQUE CLUSTERED INDEX [p] ON [dbo].[yso_TabInl] 
(
	[Tip] ASC,
	[Numar_tabela] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
CREATE UNIQUE NONCLUSTERED INDEX [Denumire_SQL] ON [dbo].[yso_TabInl] 
(
	[Tip] ASC,
	[Denumire_SQL] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 80) ON [PRIMARY]


truncate table [yso_TabInl]

INSERT [yso_TabInl] ([Tip], [Numar_tabela], [Denumire_magic], [Denumire_SQL], [Camp1], [Camp2], [Inlocuiesc]) VALUES (-11, -2069709968, N'avnefac                       ', N'avnefac                       ', N'                              ', N'                              ', N'Da')
INSERT [yso_TabInl] ([Tip], [Numar_tabela], [Denumire_magic], [Denumire_SQL], [Camp1], [Camp2], [Inlocuiesc]) VALUES (-11, -2053993133, N'MPdocndpoz                    ', N'MPdocndpoz                    ', N'                              ', N'                              ', N'Da')
INSERT [yso_TabInl] ([Tip], [Numar_tabela], [Denumire_magic], [Denumire_SQL], [Camp1], [Camp2], [Inlocuiesc]) VALUES (-11, -2052472894, N'MPdocserii                    ', N'MPdocserii                    ', N'                              ', N'                              ', N'Da')

print 'Processed 100 total records'

print 'Processed 200 total records'

if OBJECT_ID('yso_DetTabInl') is not null
begin
	drop table yso_DetTabInl
end

select top 0 * into yso_DetTabInl from DetTabInl
alter table yso_DetTabInl alter column Numar_tabela int not null
CREATE UNIQUE CLUSTERED INDEX [Principal] ON [dbo].[yso_DetTabInl] 
(
	[Tip] ASC,
	[Numar_tabela] ASC,
	[Camp_SQL] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
CREATE UNIQUE NONCLUSTERED INDEX [TblCol] ON [dbo].[yso_DetTabInl] 
(
	[Tip] ASC,
	[Camp_Magic] ASC,
	[Camp_SQL] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 80) ON [PRIMARY]

truncate table yso_DetTabInl

INSERT [yso_DetTabInl] ([Tip], [Numar_tabela], [Camp_Magic], [Camp_SQL], [Conditie_de_inlocuire]) VALUES (-11, -2069709968, N'avnefac                       ', N'Cod_gestiune                  ', N'                                                                                                                                                                                                        ')
INSERT [yso_DetTabInl] ([Tip], [Numar_tabela], [Camp_Magic], [Camp_SQL], [Conditie_de_inlocuire]) VALUES (-11, -2069709968, N'avnefac                       ', N'Gestiune_primitoare           ', N'                                                                                                                                                                                                        ')
INSERT [yso_DetTabInl] ([Tip], [Numar_tabela], [Camp_Magic], [Camp_SQL], [Conditie_de_inlocuire]) VALUES (-11, -2053993133, N'MPdocndpoz                    ', N'Gestiune                      ', N'                                                                                                                                                                                                        ')

print 'Processed 100 total records'

print 'Processed 200 total records'

print 'Processed 300 total records'



if OBJECT_ID('yso_CodInl') is null
begin
	CREATE TABLE [dbo].[yso_CodInl](
		[NrInl] [int] IDENTITY(1,1) NOT NULL,
		[Tip] [smallint] NOT NULL,
		[Cod_vechi] [nvarchar](50) NOT NULL,
		[Cod_nou] [nvarchar](50) NOT NULL,
	 CONSTRAINT [PK_yso_CodInl] PRIMARY KEY CLUSTERED 
	(
		[NrInl] ASC
	)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
	) ON [PRIMARY]

	CREATE NONCLUSTERED INDEX [Unic_yso_CodInl] ON [dbo].[yso_CodInl] 
	(
		[Tip] ASC,
		[Cod_vechi] ASC,
		[Cod_nou] ASC
	)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
	
	CREATE NONCLUSTERED INDEX [Unic_yso_Cod_vechi] ON [dbo].[yso_CodInl] 
	(
		[Tip] ASC,
		[Cod_vechi] ASC
	)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
end
--else
--truncate table yso_CodInl
